body {
  margin: 0;
  height: 100vh;
}
* {
  box-sizing: border-box;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: 200px 150px 50px; */
  grid-template-areas: 'sidebar content';
}

.content {
  grid-area: content;
  height: 700px;
  /* background-color: blue; */
}
.sidebar {
  grid-area: sidebar;
  /* height: 400px; */
  /* background-color: red; */
}

.articles {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.article-card {
  padding: 20px;
  width: 25%;
}

.article-card .img {
  width: 200px;
}

.controls {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.controls button {
  padding: 5px;
}

.search-controls {
  padding: 10px 20px;
  float: right;
}

.search-controls input,
.search-controls button {
  padding: 5px;
}
